*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(UNAMportada.jpg);
}

.form-registro{
    width: 400px;
    background: rgb(0, 183, 255);
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
    box-shadow: 7px 13px #000;
}

.form-registro h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    background: gold;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
}

.form-registro p{
   height: 40px;
   text-align: center;
   font-size: 18px;
   line-height: 40px;
}

.form-registro a{
    color:black;
    text-decoration: none;
}
 
.form-registro a:hover{
    color: chartreuse;
    text-decoration: underline;
}

.form-registro .botons{
    width: 350px;
    background-color: indianred;
    border: none;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 16px;
}
.boton{

}